.css-hyum1k-MuiToolbar-root {
    background-color: #fff;
}

.MuiTableCell-footer {
    display: none !important;
}

.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
    background: #002746d9 !important;
    color: white !important;
    font-size: 16px !important;
    border-right: 1px solid lightgrey;
    padding: 10px 2px !important;
}

.MuiTablePagination-selectLabel.css-pdct74-MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows {
    margin-bottom: 3px !important;
}

.MuiTablePagination-selectLabel.css-1chpzqh,
.MuiTablePagination-displayedRows.css-1chpzqh {
    margin: 0 !important;
}

.css-nfmglb-MuiTableCell-root {
    border-bottom: none !important;
    background-color: white !important;
    box-shadow: 0px 3px 10px 0px rgba(119, 119, 119, 0.1) !important;
    padding: 5px 16px !important;
}

.MuiTableCell-body{
    font-size: 16px !important;
    padding: 15px 7px !important;
}

.tss-bd2lw8-MUIDataTableHeadCell-sortActive{
    color: #fff !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon{
    color: #fff !important;
}

table>tbody>tr {
    border-radius: 3px;
    box-shadow: 0px 3px 10px 0px rgba(119, 119, 119, 0.1);
}

table>tbody>tr>td {
    border-right: 1px solid #0000001f;
    vertical-align: middle;
}

table>tbody>tr>td:last-child{
    border-right: none;
}