.add_question_set_main label{
    font-weight: 500;
}

.questions_main_div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    max-width: 1000px;
    margin: auto;
}

.questions_main_div .write_question{
    display: flex;
    gap: 5px;
}

.questions_main_div .write_question input{
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 8px;
}

.questions_main_div .write_question button{
    background-color: #000;
    color: #fff;
    padding: 0 30px;
    border-radius: 10px;
    font-weight: 500;
}

.show_question{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5px;
}

.show_question p{
    margin-bottom: 0;
}

.show_question div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.show_question div button:first-child{
    background-color: #000;
    color: #fff;
    padding: 3px 15px;
    border-radius: 4px;
    border: none;
}

.show_question div button:last-child{
    background-color: red;
    color: #fff;
    border: none;
    padding: 3px 15px;
    border-radius: 3px;
}

.save_btn{
    display: flex;
    justify-content: end;
    margin-top: 25px;
}

.save_btn button{
    justify-content: end;
    background-color: #000;
    color: #fff;
    padding: 8px 40px;
    border-radius: 10px;
    font-size: 18px;
}