.work_main{
    min-height: 81vh;
}

.review_detail_data{
    margin: 50px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
    border-radius: 20px;
}

.review_detail_data h1{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.review_detail_data h6{
    text-align: center;
    font-size: 20px;
    
}

.review_detail_data h6 span{
    font-weight: 700;
    text-transform: capitalize;
}

.review_detail_data h5 span{
    font-weight: 800;
}

.review_detail_data h5{
    font-size: 19px;
    font-weight: 700;
}

.review_detail_data h4{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 12px 35px;
    font-size: 27px;
    border-radius: 10px;
    font-weight: 700;
    width: fit-content;
    margin: auto;
}

.reviewed_data{
    display: flex;
    gap: 35px;
}

.reviewed_data .date {
    background-color: #191919;
    background-image: linear-gradient(147deg, #302e34 0%, #000000 74%);
    color: #fff;
    padding: 70px 60px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
}

.reviewed_data .data_file h6{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.reviewed_data .data_file h6 span{
    font-weight: 400;
    text-transform: capitalize;
    color: blue;
    font-size: 20px;
}

.reviewed_data .data_file h4{
    background-color: #0080004f;
    color: darkgreen;
    padding: 5px 25px;
    width: fit-content;
    border-radius: 100px;
}

.data_questions p{
    font-size: 19px;
}

.data_questions .col-md-6{
    margin-bottom: 15px !important;
}

.data_questions h5{
    font-size: 19px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    font-weight: 600;
}

.data_questions h5 span, .data_questions p span{
    font-weight: 700;
}

.data_questions h2{
    height: 30vh;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 767px) {
    .reviewed_data {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }

    .reviewed_data.mx-5{
        margin: auto !important;
        margin-top: 20px !important;
    }

    .live_video{
        margin: 5px 0;
    }

    .layout_content .mt-5{
        margin-top: 0 !important;
    }

    .data_questions.mx-5{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}