.payment_main {
    padding: 50px 0;
    background-color: #eff0f0a1;
}

.payment_main h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}

.payment_main h6 {
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
    color: #000;
    font-size: 18px;
}

.payment_main p {
    text-align: center;
    color: #000;
    font-weight: 500;
}

.package_main{
    background-color: #E4E5E6;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    min-height: 180px;
}

.package_main h5{
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 0;
}

.package_main span{
    color: #bc1e2d;
    font-weight: 600;
    font-size: 18px;
}

.package_main b{
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
}

.buy_btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}