.user_layout {
    background-color: #EDF2F7 !important;
}

.layout_content_section {
    display: flex;
}

.layout_content_sidebar_section {
    width: 300px;
    background-color: #000;
}

.layout_content_section .layout_content {
    width: 100%;
    background-color: rgba(239, 240, 240, 0.63);
    min-height: 90vh;
}

.user_sidebar .nav_list {
    padding: 0;
    background-color: transparent !important;
    list-style-type: none;
    margin-bottom: 0;
}

.user_sidebar .nav_list li {
    margin-bottom: 0px;
    padding: 7px 5px 6px 15px;
}

.user_sidebar .nav_list li.nav_active {
    background-color: #fff;
    color: #002746d9;
    border-bottom-left-radius: 20px;
}

.user_sidebar .nav_list li.nav_active a {
    color: #002746d9;
}

.user_sidebar .nav_list li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: 500;
}

.user_sidebar {
    padding: 10px 0 0 0px;
    margin-left: 13px;
}

.user_sidebar .nav_list .nav_active a span {
    position: relative;
    font-weight: 700;
}

.user_sidebar .nav_list .nav_active a span::before {
    content: '';
    position: absolute;
    right: -25px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100px;
    top: 8px;
}

.user_sidebar .nav_list li a img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    object-fit: contain;
}

.user_sidebar .nav_list li a span {
    font-size: 17px;
}

.signup_form.profile_main {
    background-color: #fff;
    padding: 50px 80px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: auto;
}

.sidebar_web_view{
    display: block;
}

.sidebar_mob_view{
    display: none;
}

/* .dropdown_url{
    padding-top: 10px;
} */

.dropdown_url .MuiAccordion-root{
    color: #fff !important;
    margin-bottom: 0 !important;
    padding: 2px 0px 10px 18px !important;
    background-color: transparent !important;
}

.dropdown_url .MuiSvgIcon-root{
    color: #fff;
}

.dropdown_url .MuiAccordionSummary-content{
    font-size: 17px;
    margin: 0 !important;
} 

.dropdown_url .MuiAccordionDetails-root{
    padding: 10px 0 10px 16px;
}

.dropdown_url .Mui-expanded{
    min-height: auto !important;
    margin-top: 5px !important;
}

.dropdown_url .MuiButtonBase-root{
    padding: 0 10px !important;
}

.user_sidebar.sub_dropdown_sidebar{
    padding-top: 0 !important;
    margin-left: 5px !important;
}

@media (max-width: 767px) {
    .layout_content_section .layout_content {
        padding: 10px;
        margin-top: 25px;
    }

    .navbar-toggler {
        background-color: #fff;
    }

    .user_header .navbar {
        padding: 5px 5px !important;
    }

    .user_sidebar {
        padding: 20px 0 20px 5px;
    }

    .user_sidebar .nav_list li a span {
        font-size: 15px;
    }

    .user_sidebar .nav_list .nav_active a span::before {
        top: 5px;
    }

    .user_sidebar h6 {
        font-size: 16px;
    }

    .layout_content_sidebar_section {
        min-width: 170px !important;
        width: 100%;
        margin-top: 10px;
    }

    .layout_content_section {
        flex-direction: column;
    }

    .sidebar_web_view{
        display: none;
    }

    .sidebar_mob_view{
        display: block;
    }

    .sidebar_mob_view svg {
        font-size: 40px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .signup_form.profile_main {
        padding: 50px 20px;
        height: auto;
        min-height: auto;
    }
}