.banner_main {
    /* background-image: url('/public/images/main_banner_bg.jpg'); */
    /* background-image: url('/public/images/bottom_bg.jpg'); */
    background-size: cover;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #191919;
    background-image: linear-gradient(147deg, #302e34 0%, #000000 74%);
}

.banner_main h1 {
    color: #fff;
    text-align: center;
}

.home_main .banner_main h1{
    max-width: 510px;
    margin: 0 auto;
    font-size: 45px;
    font-weight: 600;
}

.banner_main h1 span {
    font-weight: 800;
}

.review_btn {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.review_btn button {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px 30px 17px 30px;
    background-image: url('/public/images/black_btn_bg.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    text-transform: capitalize;
}

.review_btn button img {
    width: 15px;
}

.home_banner_btn {
    background-color: transparent;
    border: none;
    color: #000;
    padding: 12px 30px 20px 30px;
    background-size: 100% 100%;
    background-image: url('/public/images/white_btn_bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 20px;
}

.home_banner_btn img {
    width: 15px;
}


.box_main {
    background-color: #fff;
    border-radius: 15px;
    height: 100%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    box-shadow: rgb(80 80 102 / 27%) 0px -1px 8px 5px, rgba(0, 0, 0, 0.2) 2px 5px 2px -5px;
    padding: 10px;
    position: relative;
    width: 100%;
    top: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.box_main:hover {
    transform: scale(1.1);
}

.box_main.second_box {
    height: fit-content;
    top: 0;
}

.box_main p {
    font-weight: 500;
    margin-bottom: 0;
    position: relative;
    top: -20px;
    padding: 0 10px;
    font-size: 17px;
}

.box_main img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    top: -40px;
    position: relative;
    padding: 6px;
    transition: all 0.3s ease;
}

.box_main:hover img {
    transform: rotate(2deg);
}

.footer_banner {
    /* background-image: url('/public/images/footer_bg.png'); */
    background-image: url('/public/images/main_banner_bg.jpg');
    /* background-image: url('/public/images/bottom_bg.jpg'); */
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #302e34;
    background-image: linear-gradient(320deg, #191919 0%, #000000 74%);
}

.footer_banner button {
    background-color: transparent;
    border: none;
    color: #000;
    padding: 15px 35px 22px 35px;
    background-image: url('/public/images/white_btn_bg.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
}

.footer_banner button img {
    width: 15px;
}

.home_boxes {
    margin-top: 80px;
    margin-bottom: 130px;
}

@media (max-width: 767px) {
    .banner_main{
        height: 70vh;
    }

    .home_boxes {
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .box_main{
        position: static;
    }

    .home_boxes .row{
        gap: 60px 0;
    }
}