.payment_given{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.payment_given h4{
    margin-bottom: 0;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
}

.payment_given h3{
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    color: green;
}

.payment_taken{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.payment_taken h4{
    margin-bottom: 0;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
}

.payment_taken h3{
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    color: red;
}

.payment_box{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px 10px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .payment_box{
        flex-direction: column;
        margin-bottom: 30px;
    }

    .payment_box .payment_given{
        width: 100%;
        justify-content: space-between;
    }

    .payment_box .payment_taken{
        width: 100%;
        justify-content: space-between;
    }
}