.header_main {
    background-color: #fff;
    /* border-bottom: 3px solid grey; */
    padding: 18px 0;
}

.header_main .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header_main .container-fluid .main_logo {
    width: 200px;
    cursor: pointer;
}

.header_main .container-fluid p {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.white .dropdown-toggle {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.black .dropdown-toggle {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    font-weight: 700;
}

.white .dropdown-toggle:hover,
.black .dropdown-toggle:hover {
    background-color: transparent;
}

@media (max-width: 767px) {
    .header_main .container-fluid .main_logo {
        width: 160px;
    }

    .header_main .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        flex-direction: column;
        gap: 25px 0;
    }
}